@model Bloghost.ViewModels.UserModel
@{
    ViewData["Title"] = "Profile";
}

<div class="col-3 float-left m-4">
    <a title="Change your avatar" asp-controller="User" asp-action="Edit">
        <img src="@Url.Content(Model.Photo)" width="302" height="302" class="avatar bs-tooltip-bottom" />
    </a>
    <div class="py-3">
        <h3>@Model.Name</h3>
    </div>
    @if (User.Identity.Name == Model.Name)
    {
    <div class="mb-3" style="width: 19rem;">
        <button class="btn btn-secondary btn-block" id="btnCreateBlog">Add new blog</button>
        <a class="btn btn-secondary btn-block" asp-action="Edit" asp-controller="User">Edit profile</a>
    </div>
    }
</div>

<div id="blogs">
    <div class="form-inline">
        @foreach (var blog in Model.Blogs)
        {
            <div class="card mr-2 mb-1" style="width: 18rem; position:relative; top:30px;">
                <div class="card-body">
                    <h5 class="card-title">@blog.NameBlog</h5>
                    <p class="card-text">@blog.DescriptionBlog</p>
                </div>
                <div class="card-footer">
                    <h6 class="text-right" style="color: midnightblue">@blog.CreationDateBlog</h6>
                    <a asp-action="Create" asp-controller="Article" asp-route-id="@blog.Id">Add Article</a>
                </div>
            </div>
        }
    </div>
</div>


<script>
    function CreateNewBlog() {
        var nameBlog = $("#name").val();
        var descriptionBlog = $("#description").val();
        $.ajax({
            url: '@Url.Action("Create", "Blog")',
            type: "POST",
            data: { 'name': nameBlog, 'description': descriptionBlog },
            success: function (response) {
                CreateBlogsFromJSON(response);
            },
            error: function (xhr, status, error) {
                var span = $('<label style="color:red;" >Name is required</label>');
                $('#error-span').empty();
                $('#error-span').append(span);
            }
        });
    };

    function CreateBlogsFromJSON(response) {
        response = JSON.parse(response);
        $("#blogs").empty();
        BlogCards();
    }

    function CreateBlogsFromModel() {
        $("#blogs").empty();
        BlogCards();
    }

    function BlogCards() {
        $("#blogs").append('<div class="form-inline">@foreach (var blog in Model.Blogs){<div class="card mr-2 mb-1" style="width: 18rem; position:relative; top:30px;"><div class="card-body"><h5 class="card-title">@blog.NameBlog</h5><p class="card-text">@blog.DescriptionBlog</p></div><div class="card-footer"><h6 class="text-right" style="color: midnightblue">@blog.CreationDateBlog</h6><a asp-action="Create" asp-controller="Article">Add Article</a></div></div>}</div>');
    }

    function CreateView() {
        $("#blogs").empty();
        $("#blogs").append('<form class="m-4">');
        $("#blogs").append('<div class="form-group row"><label class="col-2 col-form-label">Blog name</label><div class="col-5"><input id="name" type="text" class="form-control" placeholder="Name"><div id="error-span"></div></div><label class="col-2 col-form-label offset-1">Creation date</label><div class="col-2"><input readonly type="text" class="form-control-plaintext" placeholder="Name" value="@DateTime.Now.ToString("dd.MM.yyyy HH:mm")" /></div></div>');
        $("#blogs").append('<div class="form-group row"><label class="col-2 col-form-label">Description</label><div class="col-10"><textarea id="description" type="text" class="form-control" placeholder="Description" ></textarea ></div ></div>');
        $("#blogs").append('<div class="form-group row text-right"><div class="col-12"><button id="btnOK" type="submit" class="btn btn-secondary">OK</button><button id="btnCansel" type="submit" class="btn btn-secondary ml-2">Cansel</button></div ></div >');
        $("#blogs").append('</form>');
        $("#btnOK").on("click", CreateNewBlog);
        $("#btnCansel").on("click", CreateBlogsFromModel);
    };

    $("#btnCreateBlog").on("click", CreateView);

</script>