@model IEnumerable<Bloghost.Models.Blog>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Hello, @User.Identity.Name</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Creation date</th>
    </tr>
    @foreach (var blog in Model)
    {
        <tr>
            <td>@blog.Id</td>
            <td>@blog.NameBlog</td>
            <td>@blog.DescriptionBlog</td>
            <td>@blog.CreationDateBlog</td>
        </tr>
    }
</table>

